includeConfig 'conf/base.config'

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }

    apptainer {
        includeConfig 'conf/singularity.config'
    }

    conda {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }

    docker {
        includeConfig 'conf/docker.config'
    }
}
